*{
  margin: 0px;
  padding: 0px;
}

body{
  background: #F1F1F1;
  font-family: 'Playfair Display', serif;
  overflow-x: hidden;
}

a{
  text-decoration: none;
  text-transform: none;
}

.header{
  max-height: 150px;
  background: blue;
  color: yellow;
  font-family: sans-serif;
  padding: 25px;
  text-align: center;
}

.header h1{
  font-family: 'Viga', sans-serif;
  letter-spacing: 5px;
  text-shadow: 0px 0px 2px #fff;
  position: relative;
}

.header p{
  padding-top: 15px;
  font-family: 'Cinzel', serif;
  font-weight: bold;
}

nav{
  margin-top: 10px;
  background: red;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 1px;
  text-align: center;
}

nav div{
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
}

nav a{
  padding: 20px;
  color: white;
  border: 1px solid rgba(255,255,255, 0.3);
  background: rgba(255,255,255, 0.3);
  border-radius: 3px;
  font-family: 'Flavors', cursive;
  font-size: 17px;
}

nav a:hover{
  color: black;
  background: white;
  transition: 1s;
}

/* row */
.row{

}
.row .left-side{
  max-width: 100%;
}
.row .right-side{
  max-width: 100%;
}


.left-image-wrapper{
  background-color: #aaa;
  padding: 20px;
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.left-image-wrapper img{
  max-width: 100%;
}
.right-image-wrapper{
  background-color: #aaa;
  max-width: 100%;
  padding: 20px;
  text-align: center;
}
.right-image-non-wrapper img.me{
  max-width: 100%;
  max-height: 300px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.right-image-wrapper img.post{

}


.card {
  background-color: white;
  padding: 20px;
  margin-top: 15px;
}
.card h2{
  font-size: 40px;
  margin-bottom: 15px;
}
.card h5{
  margin-top: 0px;
  font-size: 18px;
  font-weight: 200;
}
/* row end */

/* footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}
/* footer end */

@media (min-width: 1230px){
  .header h1::before{
    content: "";
    position: absolute;
    top: 2px;
    left: 300px;
    display: inline-block;
    background: url('../img/usher.png') no-repeat;
    background-size: 70px;
    width: 70px;
    height: 70px;
  }
}
@media (min-width: 1200px){
  .right-image-non-wrapper img.me{
    width: 240px;
    height: 220px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
}
@media (min-width: 800px){
  .row{
    display: flex;
    justify-content: space-between;
  }
  .row .left-side{
    max-width: 74%;
  }
  .row .right-side{
    max-width: 25%;
  }
  nav{
    justify-content: center;
    display: flex;
    padding: 0px;
    height: 80px;
  }
  nav div{
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
